{% extends 'base.html' %}
{% block content %}
<br>
<div class="list-group">
    <a href="" class="list-group-item list-group-item-action active" aria-current="true">Orders List</a> 
    {% comment %} {% if order_items %}
    {% for order in order_items %}
    <a href="" class="list-group-item list-group-item-action " aria-current="true">{{order.menu_id.food.name }} </a> 

    {% endfor %} 
    {% else %}
    <p>no item</p>  
    {% endif %}  {% endcomment %}
</div>

{% if order_items %}
{% for order in order_items %}
<div class="card text-center">
    <div class="card-header">
        item{{ forloop.counter }}
        
    </div>
    <div class="card-body">
      <h5 class="card-title">{{order.menu_id.food.name }}</h5>
      <p class="card-text">price:{{order.menu_id.price}}</p>
      <p class="card-text">quantity:{{order.menu_id.quantity}}</p>
    </div>
   
  </div>
  {% endfor %}
  {% else %}
  <p>no item</p> 
  {% endif %} 
{% endblock content%}